body {
    padding: 0;
    margin: 0;
  font-family: 'Roboto Slab', serif;
    color: black;
    font-size: 20px;
}
section {
    position: relative;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800px;

}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: tan;
}
nav a{
    position: relative;
    color: inherit;
    text-decoration: none;
    padding: 8px 25px;
    font-size: 1.5em;
    text-transform: uppercase;
    display: inline-block;
}
nav a:hover
{
    background: darkslategrey;
    color: darkkhaki;

}
.container {
    width: 1200px;
    margin:  auto;
    padding-top: 50px;

}
.section1 {
     background: url('../image/sound.jpg') no-repeat center / cover;
   margin: auto;
   
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
.menu li a {
 text-transform: uppercase;  
 text-decoration: none; 
 font-size: 30px;
 color: darkkhaki;
}
.menu li {
    margin-right: 30px;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
    letter-spacing: 0.1em;
    

}
.tel {
    font-size: 30px;
    text-decoration: none;
    margin-right: auto;
     letter-spacing: 0.0.5em;
     color: darkkhaki;
     display: block;
}
.menu {
    display: flex;
    /*  ставит в ряд кликабельные бл0ки*/
    align-items: center;
}
.item{
background: darkslategrey;
border: 5px solid SlateGrey;
    margin : 200px 200px 200px 200px;
    border-radius: 20px;
    padding: 10px;
    color: tan;
    font-size: 60px;
    font-weight : bold;
}
.top menu {
    display: flex;
    transition: height 0.3s;
  overflow: hidden;
  margin-top : 400px;
}
h1 {
    margin-left: auto;
    font-size: 40px;
    color: darkkhaki;
}
.content1 p1{
    width: 500px;
    height: 500px;
    color: MistyRose;
    font-size: 25px;
    text-align: justify;
}
h2 {
    margin-left: auto;
    font-size: 30px;
    color: darkkhaki;
}
.section2 {
     background: url('../image/2.jpg') no-repeat center / cover;
   margin: auto;
}
.section3{
     background: url('../image/3812.jpg') no-repeat center / cover;
   margin: auto;
}

.section4 {
     background: url('../image/21013.jpg') no-repeat center / cover;
   margin: auto;
}
